<a class="wpp" href="http://wa.me/1122627520" target="blank">
    <img src="https://whatsapp.com/favicon.png">
</a>
<footer>
  <div class="rosa">
      <span>
        <img src="https://d26lpennugtm8s.cloudfront.net/templates/093/210/twig/static/logopie.jpg?279608155">
      </span>  
      <span>
        <form>
          <p>¡SUBSCRIBITE A NUESTRO NEWSLETTER!</p>
          <div class="input-group">
            <input class="mr-2" type="text" placeholder="Nombre">
            <input type="text" placeholder="Email">
            <div class="input-group-append">
              <input type="submit" class="input-group-text" id="basic-addon2" value="ENVIAR">
            </div>
          </div>
          <p><span style="letter-spacing: 0.5em">DUDAS</span><span style="letter-spacing:initial; color:rgb(252, 73, 88);font-weight: initial;">---<a>PROYECTOS@FERA.COM.AR</a></span><br><span style="letter-spacing: 0.5em">MAYORISTAS</span><span style="letter-spacing:initial; color:rgb(252, 73, 88);font-weight: initial;">---<a>PROYECTOS@FERA.COM.AR</a></span></p>
        </form>
      </span>
      <span class="text-right">
        <p style="float:right;">MÁS INFORMACIÓN:</p><br><br>
        <a href="">TRABAJOS A MEDIDA</a><br>
        <a href="">FORMAS Y MEDIOS DE PAGO</a><br>
        <a href="">PUNTOS DE VENTA</a><br>
        <a href="">CONTACTO</a>
      </span>
  </div>
  <div class="rosa">
    <div class="tarjetas">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/visa@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mastercard@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/amex@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/diners@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/paypal@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/banelco@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cabal@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-naranja@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/tarjeta-shopping@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/mercadopago@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/argencard@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/nativa@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/ar/cencosud@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/pagofacil@2x.png" alt="">
      <img src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/mercado-envios@2x.png" alt="">
    </div>
  </div>
  <div class="negro">
    <p class="text-right">&copy;COPYRIGHT FERA - 2019. TODOS LOS DERECHOS RESERVADOS</p>
    <div class="distancia pb-3 pt-2">
        <button>SUBIR ^</button>
    </div>
  </div>
</footer>